/*FADE ANIMATIONS*/

:root {
  --animation-duration: 1s;
  --animation-delay: 0s;
}

/*APPEAR WITH BACK BOUNCE ANIMATIONS*/

[aa-animate^='appear'][aa-animate^='appear'] {
  opacity: 0;

  &.in-view {
    animation-delay: var(--animation-delay);
  }
}

[aa-animate="appear-up"].in-view {
  animation: appear-up var(--animation-duration) forwards;
}


[aa-animate="appear-down"].in-view {
  animation: appear-down var(--animation-duration) forwards;
}


[aa-animate="appear-left"].in-view {
  animation: appear-left var(--animation-duration) forwards;
}


[aa-animate="appear-right"].in-view {
  animation: appear-right var(--animation-duration) forwards;
}



/*BLURRED SLIDE ANIMATIONS*/

[aa-animate^='slide-in-blurred'][aa-animate^='slide-in-blurred'] {
  opacity: 0;

  &.in-view {
    animation-delay: var(--animation-delay);
  }
}

[aa-animate="slide-in-blurred-bottom"].in-view {
  animation: slide-in-blurred-bottom var(--animation-duration) forwards;
}

[aa-animate="slide-in-blurred-top"].in-view {
  animation: slide-in-blurred-top var(--animation-duration) forwards;
}

[aa-animate="slide-in-blurred-left"].in-view {
  animation: slide-in-blurred-left var(--animation-duration) forwards;
}

[aa-animate="slide-in-blurred-right"].in-view {
  animation: slide-in-blurred-right var(--animation-duration) forwards;
}


/*3D SWING ANIMATIONS*/

[aa-animate^='swing'][aa-animate^='swing'] {
  opacity: 0;
  transform-origin: 50% 0;

  &.in-view {
    animation-delay: var(--animation-delay);
  }
}

[aa-animate="swing-fwd"].in-view {
  animation: swing-fwd var(--animation-duration) forwards;
}

[aa-animate="swing-bwd"].in-view {
  animation: swing-bwd var(--animation-duration) forwards;
}

/*3D ROTATION ANIMATIONS*/

[aa-animate^='rotate'][aa-animate^='rotate'] {
  opacity: 0;

  &.in-view {
    animation-delay: var(--animation-delay);
  }
}

[aa-animate="rotate-soft"].in-view {
  animation: rotate-soft var(--animation-duration) forwards;
}

[aa-animate="rotate-soft-3em"].in-view {
  animation: rotate-soft-3em var(--animation-duration) forwards;
}

[aa-animate="rotate-elliptic"].in-view {
  animation: rotate-elliptic var(--animation-duration) forwards;
}