/*FADE ANIMATIONS*/

:root {
  --animation-duration: 1s;
  --animation-delay: 0s;
}

/*FADE SLOW ANIMATIONS*/

[aa-animate^='fade'][aa-animate^='fade'] {
  opacity: 0;

  &.in-view {
    animation-delay: var(--animation-delay);
  }
}

[aa-animate="fade-up-back"].in-view {
  animation: fade-up-back var(--animation-duration) forwards;
}


[aa-animate="fade-down-back"].in-view {
  animation: fade-down-back var(--animation-duration) forwards;
}


[aa-animate="fade-left-back"].in-view {
  animation: fade-left-back var(--animation-duration) forwards;
}


[aa-animate="fade-right-back"].in-view {
  animation: fade-right-back var(--animation-duration) forwards;
}



/*BLURRED SLIDE ANIMATIONS*/

[aa-animate^='slide-in-blurred'][aa-animate^='slide-in-blurred'] {
  opacity: 0;

  &.in-view {
    animation-delay: var(--animation-delay);
  }
}

[aa-animate="slide-in-blurred-bottom"].in-view {
  animation: slide-in-blurred-bottom var(--animation-duration) forwards;
}

[aa-animate="slide-in-blurred-top"].in-view {
  animation: slide-in-blurred-top var(--animation-duration) forwards;
}

[aa-animate="slide-in-blurred-left"].in-view {
  animation: slide-in-blurred-left var(--animation-duration) forwards;
}

[aa-animate="slide-in-blurred-right"].in-view {
  animation: slide-in-blurred-right var(--animation-duration) forwards;
}


