// Animations variables
$aa-distance: 50px !default;

:root {
    --animation-duration: 1s;
    --animation-delay: 0s;
}

@media screen {
  html:not(.no-js) {
    /**
    * Fade animations:
    * fade
    * fade-up, fade-down, fade-left, fade-right
    * fade-up-right, fade-up-left, fade-down-right, fade-down-left
    */

    [aa-transition^='fade'][aa-transition^='fade'] {
      opacity: 0;
      transition-property: opacity, transform;
      transition-duration: var(--animation-duration); 
      transition-delay: var(--animation-delay);       

      &.in-view {
        opacity: 1;
        transform: none;
      }
    }

    [aa-transition='fade-up'] {
      transform: translate3d(0, $aa-distance, 0);
    }

    [aa-transition='fade-down'] {
      transform: translate3d(0, -$aa-distance, 0);
    }

    [aa-transition='fade-right'] {
      transform: translate3d(-$aa-distance, 0, 0);
    }

    [aa-transition='fade-left'] {
      transform: translate3d($aa-distance, 0, 0);
    }

    [aa-transition='fade-up-right'] {
      transform: translate3d(-$aa-distance, $aa-distance, 0);
    }

    [aa-transition='fade-up-left'] {
      transform: translate3d($aa-distance, $aa-distance, 0);
    }

    [aa-transition='fade-down-right'] {
      transform: translate3d(-$aa-distance, -$aa-distance, 0);
    }

    [aa-transition='fade-down-left'] {
      transform: translate3d($aa-distance, -$aa-distance, 0);
    }




    /**
    * Zoom animations:
    * zoom-in, zoom-in-up, zoom-in-down, zoom-in-left, zoom-in-right
    * zoom-out, zoom-out-up, zoom-out-down, zoom-out-left, zoom-out-right
    */

    [aa-transition^='zoom'][aa-transition^='zoom'] {
      opacity: 0;
      transition-property: opacity, transform;
      transition-duration: var(--animation-duration); 
      transition-delay: var(--animation-delay);  

      &.in-view {
        opacity: 1;
        transform: translate3d(0, 0, 0) scale(1);
      }
    }

    [aa-transition='zoom-in'] {
      transform: scale(.6);
    }

    [aa-transition='zoom-in-up'] {
      transform: translate3d(0, $aa-distance, 0) scale(.6);
    }

    [aa-transition='zoom-in-down'] {
      transform: translate3d(0, -$aa-distance, 0) scale(.6);
    }

    [aa-transition='zoom-in-right'] {
      transform: translate3d(-$aa-distance, 0, 0) scale(.6);
    }

    [aa-transition='zoom-in-left'] {
      transform: translate3d($aa-distance, 0, 0) scale(.6);
    }

    [aa-transition='zoom-out'] {
      transform: scale(1.2);
    }

    [aa-transition='zoom-out-up'] {
      transform: translate3d(0, $aa-distance, 0) scale(1.2);
    }

    [aa-transition='zoom-out-down'] {
      transform: translate3d(0, -$aa-distance, 0) scale(1.2);
    }

    [aa-transition='zoom-out-right'] {
      transform: translate3d(-$aa-distance, 0, 0) scale(1.2);
    }

    [aa-transition='zoom-out-left'] {
      transform: translate3d($aa-distance, 0, 0) scale(1.2);
    }




    /**
    * Slide animations
    */

    [aa-transition^='slide'][aa-transition^='slide'] {
      transition-property: transform;
      visibility: hidden;
      transition-duration: var(--animation-duration); 
      transition-delay: var(--animation-delay);  

      &.in-view {
        visibility: visible;
        transform: translate3d(0, 0, 0);
      }
    }

    [aa-transition='slide-up'] {
      transform: translate3d(0, 100%, 0);
    }

    [aa-transition='slide-down'] {
      transform: translate3d(0, -100%, 0);
    }

    [aa-transition='slide-right'] {
      transform: translate3d(-100%, 0, 0);
    }

    [aa-transition='slide-left'] {
      transform: translate3d(100%, 0, 0);
    }




    /**
    * Flip animations:
    * flip-left, flip-right, flip-up, flip-down
    */

    [aa-transition^='flip'][aa-transition^='flip'] {
      backface-visibility: hidden;
      transition-property: transform;
      transition-duration: var(--animation-duration); 
      transition-delay: var(--animation-delay);  
    }

    [aa-transition='flip-left'] {
      transform: perspective(2500px) rotateY(-100deg);
      &.in-view {transform: perspective(2500px) rotateY(0);}
    }

    [aa-transition='flip-right'] {
      transform: perspective(2500px) rotateY(100deg);
      &.in-view {transform: perspective(2500px) rotateY(0);}
    }

    [aa-transition='flip-up'] {
      transform: perspective(2500px) rotateX(-100deg);
      &.in-view {transform: perspective(2500px) rotateX(0);}
    }

    [aa-transition='flip-down'] {
      transform: perspective(2500px) rotateX(100deg);
      &.in-view {transform: perspective(2500px) rotateX(0);}
    }

    /**
    * Slide and Rotate animations
    */

    [aa-transition^='slide-rotate'][aa-transition^='slide-rotate'] {
      transition-property: transform;
      visibility: hidden;
      transition-duration: var(--animation-duration);
      transition-delay: var(--animation-delay);

      &.in-view {
        visibility: visible;
        transform: translate3d(0, 0, 0) rotate(0deg);
      }
    }

    [aa-transition='slide-rotate-bottom-right'] {
      transform: translate3d(-$aa-distance, $aa-distance, 0) rotate(-45deg);
    }

    [aa-transition='slide-rotate-bottom-left'] {
      transform: translate3d($aa-distance, $aa-distance, 0) rotate(45deg);
    }

    [aa-transition='slide-rotate-top-right'] {
      transform: translate3d(-$aa-distance, -$aa-distance, 0) rotate(45deg);
    }

    [aa-transition='slide-rotate-top-left'] {
      transform: translate3d($aa-distance, -$aa-distance, 0) rotate(-45deg);
    }


    /*
    PSEUDO BACKGROUND SLIDE TRANSITIONS
    */

    :root {
      --animation-duration: 0.6s;
      --animation-delay: 0.2s;
      --background-color-initial: var(--background-color--background-page);
      --background-color-final: var(--background-color--background-alternate);
    }


    [aa-transition^="pseudo-bg-slide"][aa-transition^="pseudo-bg-slide"] {
      position: relative;
      background: var(--background-color-initial);
      overflow: hidden; // Hide overflow
    }

    // Ensure content stays above the pseudo-element
    [aa-transition^="pseudo-bg-slide"][aa-transition^="pseudo-bg-slide"] > * {
      position: relative;
      z-index: 2;
    }

    [aa-transition^="pseudo-bg-slide"]::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: var(--background-color-final);
      z-index: 1; // Place it behind the content but above the initial background
      transition: transform var(--animation-duration);
      transition-delay: var(--animation-delay);
    }

    [aa-transition="pseudo-bg-slide-down"]::before {
      transform: translate3d(0, -100%, 0);
    }
    [aa-transition="pseudo-bg-slide-up"]::before {
      transform: translate3d(0, 100%, 0);
    }
    [aa-transition="pseudo-bg-slide-right"]::before {
      transform: translate3d(-100%, 0, 0);
    }
    [aa-transition="pseudo-bg-slide-left"]::before {
      transform: translate3d(100%, 0, 0);
    }

    // Resets the transform to 0 when the animation is finished, showing the pseudo background
    [aa-transition^="pseudo-bg-slide"].in-view::before {
      transform: translate3d(0, 0, 0);
    }


    /*
    PSEUDO BACKGROUND REVEAL TRANSITIONS
    */

    [aa-transition^="pseudo-bg-reveal"][aa-transition^="pseudo-bg-reveal"] {
      position: relative;
      background: var(--background-color-final);
      overflow: hidden; // Hide overflow
    }

    // Ensure content stays above the pseudo-element
    [aa-transition^="pseudo-bg-reveal"][aa-transition^="pseudo-bg-reveal"] > * {
      position: relative;
      z-index: 2;
    }

    [aa-transition^="pseudo-bg-reveal"]::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: var(--background-color-initial);
      z-index: 1;
      transition: transform var(--animation-duration) var(--animation-delay);
    }

    [aa-transition^="pseudo-bg-reveal"]::before {
      transform: translate3d(0, 0, 0);
    }

    [aa-transition="pseudo-bg-reveal-up"].in-view::before {
      transform: translateY(-100%);
    }
    [aa-transition="pseudo-bg-reveal-down"].in-view::before {
      transform: translateY(100%);
    }
    [aa-transition="pseudo-bg-reveal-right"].in-view::before {
      transform: translateX(100%);
    }
    [aa-transition="pseudo-bg-reveal-left"].in-view::before {
      transform: translateX(-100%);
    }
  }
}
