// Animations variables
@media screen {
  html:not(.no-js) {
    /**
    * Fade animations:
    * fade
    * fade-up, fade-down, fade-left, fade-right
    * fade-up-right, fade-up-left, fade-down-right, fade-down-left
    */

    [aa-animate^='fade'] {
      opacity: 0;
      transition-property: opacity, transform;
      transition-duration: var(--aa-duration); 
      transition-delay: var(--aa-delay);       

      &.in-view {
        opacity: var(--aa-opacity, 1);
        transform: none;
      }
    }

    [aa-animate='fade-up'] {
      transform: translate3d(0, calc(3rem * var(--aa-distance)), 0);
    }

    [aa-animate='fade-down'] {
      transform: translate3d(0, calc(-3rem * var(--aa-distance)), 0);
    }

    [aa-animate='fade-right'] {
      transform: translate3d(calc(-3rem * var(--aa-distance)), 0, 0);
    }

    [aa-animate='fade-left'] {
      transform: translate3d(calc(3rem * var(--aa-distance)), 0, 0);
    }


    /**
    * Zoom animations:
    * zoom-in, zoom-in-up, zoom-in-down, zoom-in-left, zoom-in-right
    * zoom-out, zoom-out-up, zoom-out-down, zoom-out-left, zoom-out-right
    */

    [aa-animate^='zoom'] {
      opacity: 0;
      transition-property: opacity, transform;
      transition-duration: var(--aa-duration); 
      transition-delay: var(--aa-delay);  

      &.in-view {
        opacity: var(--aa-opacity, 1);
        transform: translate3d(0, 0, 0) scale(1);
      }
    }

    [aa-animate='zoom-in'] {
      transform: scale(calc(0.6 * var(--aa-distance)));
    }

    [aa-animate='zoom-in-up'] {
      transform: translate3d(0, calc(3rem * var(--aa-distance)), 0) scale(0.6);
    }

    [aa-animate='zoom-in-down'] {
      transform: translate3d(0, calc(-3rem * var(--aa-distance)), 0) scale(0.6);
    }

    [aa-animate='zoom-out'] {
      transform: scale(calc(1.5 * var(--aa-distance)));
    }

    [aa-animate='zoom-out-up'] {
      transform: translate3d(0, calc(3rem * var(--aa-distance)), 0) scale(1.5);
    }

    [aa-animate='zoom-out-down'] {
      transform: translate3d(0, calc(-3rem * var(--aa-distance)), 0) scale(1.5);
    }


    /**
    * Slide animations
    */

    [aa-animate^='slide'] {
      transition-property: transform;
      transition-duration: var(--aa-duration); 
      transition-delay: var(--aa-delay);  

      &.in-view {
        transform: translate3d(0, 0, 0);
      }
    }

    [aa-animate='slide-up'] {
      transform: translate3d(0, calc(100% * var(--aa-distance)), 0);
    }

    [aa-animate='slide-down'] {
      transform: translate3d(0, calc(-100% * var(--aa-distance)), 0);
    }

    [aa-animate='slide-right'] {
      transform: translate3d(calc(-100% * var(--aa-distance)), 0, 0);
    }

    [aa-animate='slide-left'] {
      transform: translate3d(calc(100% * var(--aa-distance)), 0, 0);
    }


    /**
    * Blur animations
    */

    [aa-animate^='blur'] {
      transition-property: filter, opacity, transform;
      transition-duration: var(--aa-duration);
      transition-delay: var(--aa-delay);

      filter: blur(10px);
      opacity: 0;

      &.in-view {
        filter: blur(0);
        opacity: var(--aa-opacity, 1);
        transform: scale(1);
      }
    }

    [aa-animate='blur-in'] {
      transform: scale(1.1);
    }




    /**
    * Flip animations:
    * flip-left, flip-right, flip-up, flip-down
    */

    [aa-animate^='flip'] {
      backface-visibility: hidden;
      transition-property: transform;
      transition-duration: var(--aa-duration); 
      transition-delay: var(--aa-delay);  
    }

    [aa-animate='flip-left'] {
      transform: perspective(2500px) rotateY(-100deg);
      &.in-view {transform: perspective(2500px) rotateY(0);}
    }

    [aa-animate='flip-right'] {
      transform: perspective(2500px) rotateY(100deg);
      &.in-view {transform: perspective(2500px) rotateY(0);}
    }

    [aa-animate='flip-up'] {
      transform: perspective(2500px) rotateX(-100deg);
      &.in-view {transform: perspective(2500px) rotateX(0);}
    }

    [aa-animate='flip-down'] {
      transform: perspective(2500px) rotateX(100deg);
      &.in-view {transform: perspective(2500px) rotateX(0);}
    }


    /*
    PSEUDO BACKGROUND REVEAL TRANSITIONS
    */

    [aa-animate^="pseudo-reveal"] {
      position: relative;
      overflow: hidden;
    }

    [aa-animate^="pseudo-reveal"] > * {
      position: relative;
      z-index: 1;
    }

    [aa-animate^="pseudo-reveal"]::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: var(--aa-pseudo-color);
      z-index: 2;
      transition: transform var(--aa-duration) var(--aa-delay);
      transform: translate3d(0, 0, 0);
    }

    [aa-animate^="pseudo-reveal-up"]::before {
      transform-origin: top;
      transform: scaleY(1);
    }
    [aa-animate^="pseudo-reveal-up"].in-view::before {
      transform: scaleY(0);
    }

    [aa-animate^="pseudo-reveal-down"]::before {
      transform-origin: bottom;
      transform: scaleY(1);
    }
    [aa-animate^="pseudo-reveal-down"].in-view::before {
      transform: scaleY(0);
    }

    [aa-animate^="pseudo-reveal-right"]::before {
      transform-origin: right;
      transform: scaleX(1);
    }
    [aa-animate^="pseudo-reveal-right"].in-view::before {
      transform: scaleX(0);
    }

    [aa-animate^="pseudo-reveal-left"]::before {
      transform-origin: left;
      transform: scaleX(1);
    }
    [aa-animate^="pseudo-reveal-left"].in-view::before {
      transform: scaleX(0);
    }


    /*
    *
    * HOVER TRANSITIONS 
    *
    */


    // Default underline for non-hover devices
    [aa-hover="underline"] {
      position: relative;
      
      &::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: calc(0.1em * var(--aa-distance));
        background-color: currentColor;
        transform: scaleX(1);
      }
    }

    @media (hover:hover) and (pointer:fine){


      /*
      Underline Link Animations
      */

      [aa-hover^="underline"] {
        position: relative;
        
        &::before,
        &::after {
          content: "";
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          height: calc(0.1em * var(--aa-distance));
          background-color: currentColor;
          transition: transform;
          transition-duration: var(--aa-duration);
          transition-delay: var(--aa-delay);
          transition-timing-function: cubic-bezier(0.625, 0.05, 0, 1);
          transform-origin: right;
          transform: scaleX(0) rotate(0.001deg);
        }
      }

      // Single underline
      [aa-hover="underline-in"] {
        &:hover::before {
          transform-origin: left;
          transform: scaleX(1) rotate(0.001deg);
        }
      }

      // Double underline (alt version)
      [aa-hover="underline"] {
        &::before {
          transform-origin: left;
          transform: scaleX(1) rotate(0.001deg);
          transition-delay: 0.3s;
        }

        &:hover::before {
          transform-origin: right;
          transform: scaleX(0) rotate(0.001deg);
          transition-delay: 0s;
        }

        &::after {
          transform-origin: right;
          transform: scaleX(0) rotate(0.001deg);
          transition-delay: 0s;
        }

        &:hover::after {
          transform-origin: left;
          transform: scaleX(1) rotate(0.001deg);
          transition-delay: 0.3s;
        }
      }


      /*
      Grow and shrink animations
      */

      // Base transition
      [aa-hover="grow"],
      [aa-hover="shrink"]{
        transition-property: transform, box-shadow, background-color, color, border-color;
        transition-duration: var(--aa-duration);
        transition-delay: var(--aa-delay);
      }

      [aa-hover="grow"]:hover {
        transform: scale(calc(1.08 * var(--aa-distance)))
      }

      [aa-hover="shrink"]:hover {
        transform: scale(calc(0.92 * var(--aa-distance)))
      }
    }  

  }
}
