html {
  // Fix to reduce mobile viewport stuttering
  height: -webkit-fill-available;
}

body {
  // Set default pseudo color
  --aa-pseudo-color: var(--background-color--background-primary, #000000);

  // Fix to reduce mobile viewport stuttering
  min-height: 100vh;
  /* mobile viewport bug fix */
  min-height: -webkit-fill-available;
}

// Base styles for all animated elements
[aa-animate], [aa-instant] {
  --aa-duration: var(--aa-default-duration);
  --aa-delay: var(--aa-default-delay);
  --aa-distance: var(--aa-default-distance);
}

[aa-hover] {
  --aa-duration: var(--aa-default-hover-duration);
  --aa-delay: var(--aa-default-hover-delay);
  --aa-distance: var(--aa-default-hover-distance);
}

@import 'keyframes';
@import 'animations';
@import 'easing';
@import 'transitions';

// Hide elements with aa-children initially
[aa-children] {
    opacity: 0;
}

// Hide the text animations initially
[aa-animate^="text-"],[aa-animate^="appear"],[aa-animate^="reveal"] {
    visibility: hidden;
}

// Since the text-fade start with 30% opacity, show the element
[aa-animate^="text-fade-soft"] {
    visibility: visible;
}

// clip the text animation to prevent overflow
[aa-split] > .line-clip-wrapper,[aa-animate*="split"] > .line-clip-wrapper{
    overflow: hidden;
}

[aa-hover-text-color], [aa-hover-content] {
  position: relative;
  z-index: 1;
}

[aa-animate^="marquee"] {
  width: 100%;
  position: relative;
  overflow: hidden;
}

[aa-marquee-scroller] {
  will-change: transform;
  width: 100%;
  display: flex;
  position: relative;
}

[aa-marquee-items] {
  will-change: transform;
  display: flex;
  position: relative;
}

/* LENIS */
html.lenis {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}